<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36179268069-rlkb742jj7f572n00sov1gahhes4q8el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36179268069-rlkb742jj7f572n00sov1gahhes4q8el</string>
	<key>API_KEY</key>
	<string>AIzaSyDZb8WsRL5Gr5DSm1nNtw4bAFqFetTxsgs</string>
	<key>GCM_SENDER_ID</key>
	<string>36179268069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamstechapp</string>
	<key>PROJECT_ID</key>
	<string>hamstech-ebaf4</string>
	<key>STORAGE_BUCKET</key>
	<string>hamstech-ebaf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36179268069:ios:a48404bfae89d7f812df0c</string>
	<key>DATABASE_URL</key>
	<string>https://hamstech-ebaf4.firebaseio.com</string>
</dict>
</plist>